.main {
  background-color: rgb(85, 59, 109);
  height: 100px;
}

.cardWrapper {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: auto auto auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
